<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-10">    
      <h1>Water Sport Rental</h1>
      <p>Dreaming of an adventure on Lisbon´s cool, clear coastal waters? Whether you’re a native Lisbonian planning a <strong>Surf</strong> day with your friends, or a visitor who wants to try <strong>Stand Up Paddleboards</strong> (SUP's) or <strong>Kitesurf</strong> for the first time, these locations have what you need to experience the best of the coast.</p>
    </div>  
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-10">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "boarderclub.jpg", alt: "Boarder Club", class: "d-block w-100" %>
            <div class="carousel-caption d-none d-md-block">
              <h2>Boarder Club Portugal</h2>
              <h3>Costa da Caparica</h3>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "windspirit.png", alt: "Windspirit", class: "d-block w-100" %>
            <div class="carousel-caption d-none d-md-block">
              <h2>WindSpirit Club</h2>
              <h3>Fonte da Telha</h3>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>

    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-10">
      <%# <%= link_to "Categories", categories_path, class: "btn btn-primary" %>
      <%# <%= link_to "Items", items_path, class: "btn btn-primary" %>
      <%# <%= link_to "Schools", schools_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
