<div class="container mt-3" >
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="justify-content-center">Our Schools</h1>
      <% if current_user.admin? %>
        <%= link_to 'Create School', new_admin_school_path, class: "btn btn-primary" %>
      <% end %>

      <div class="row">
        <div class="col-6">
          <div class="row">
          <% @schools.each do |school| %>
            <div class="col">
              <div class="card">
                <% if school.photo.attached? %>
                  <%= cl_image_tag(school.photo.key, width: 200, height: 200, crop: :fill) %>
                <% else %>
                  <%= image_tag "surfboard.png", width: 200, height: 200 %>
                <% end %>
                <div class="card-body">
                  <h5 class="font-weight-bold"><%=school.name %></h5>
                  <p class="card-text"><%=school.street %></p>
                  <p class="card-text"><%=school.city %></p>
                  <p class="card-text"><%=school.phone %></p>
                  <p class="card-text"><%=school.email %></p>
                  <a <%= link_to "Learn More", school_path(school), class: "btn btn-primary" %></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div id="map" style="width: 100%; height: 400px; border-radius: 5px"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>




